/node_modules
/src/cliente/node_modules
/src/restaurante/node_modules
/src/repartidor/node_modules
/src/orquestador/node_modules
/dist
/.scannerwork/css-bundle/node_modules
/.scannerwork/css-bundle/package/node_modules